#card_div {
    margin: auto;
    position: fixed;
    top: 30%;
    left: calc(50% - 200px);
    width: 400px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    z-index: 999;
  }
  #card_div:hover {
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px;
  }
  .login_box {
    text-align: center;
    padding: 10px;
    img {
      width: 80px;
    }
  
    > div {
      margin-top: 30px;
      padding: 0 20px;
      p {
        font-size: 20px;
      }
    }
    .login_btn {
      padding: 0 40px;
      padding-bottom: 20px;
    }
  }
#login{
  .login_card {
    z-index: 9999999;
    width: 460px;
    height: 270px;
    border-radius: 10px;
    position: fixed;
    top: calc(55% - 160px);
    left: calc(50% - 230px);
    box-shadow: -3px 3px 2px 1px rgba(0, 0, 0, 0.3);
    background: linear-gradient(230deg, rgba(53, 57, 74, 0), #000);
    .login_name {
      width: 100%;
      font-size: 18px;
      text-align: center;
      color: #ffffff;
      padding: 10px;
      margin-top: 10px;
    }
    .login_input_box {
      margin: 5px 40px;
      > div {
        margin-bottom: 20px;
      }
    }
  }
}
